.parent {
    background-color: antiquewhite;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border: solid;
}

.child {
    background-color: palegreen;
    height: 100px;
    width: 100px;
    border: solid black;
    font-size: 24px;
    text-align: center;
    align-content: center;
}