* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
}

.navbar .first {
    height: 80px;
    width: 65%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.navbar .second {
    height: 80px;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

.navbar .second input {
    width: 300px;
    height: 30px;
}

.navbar .second button {
    padding: 0px 40px;
    font-size: 20px;
    margin-left: 5px;
}

.first li {
    padding-left: 30px;
    list-style: none;
}

.first li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.first li a:hover {
    /* color: rgb(200, 200, 200); */
    text-decoration: underline;
    text-underline-offset: 5px;
    text-shadow: 0 0 1px white;
}

.home {
    height: 88vh;
    width: 100%;
    background-image: url("https://wallpapers.com/images/featured/desktop-background-bhmfm0in28785es7.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    filter: grayscale();
}

.home h1 {
    font-size: 80px;
    color: white;
    text-shadow: 0 0 20px black;
    position: absolute;
    top: 40%;
    left: 23%;
}

.about {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1659564131634-32ca6b67fa47?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxvd2VycyUyMG9uJTIwYmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(189, 188, 188);
}

.about .image {
    width: 300px;
    height: 445px;
    overflow: hidden;
}

.about .image img {
    height: inherit;
    border: 2px solid black;
}

.about .image, .about .image img {
    border-radius: 20px 0 0 20px;
}

.about .image img:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.about .para h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.about .para {
    width: 600px;
    height: 365px;
    background-color: black;
    color: white;
    padding: 40px;
    line-height: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 20px 20px 0;
}

.services {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services > h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.services .cards {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 50px;
    color: white;
    width: 90%;
    background-color: black;
}

.services .cards .card {
    padding: 10px;
    width: 300px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0 0 7px 3px white;
    position: relative;
}

.services .cards .card img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.services .cards .card button:first-of-type{
    padding: 4px 30px 4px 20px;
    background: linear-gradient(90deg, rgb(17, 85, 203) 0%, rgb(83, 140, 238) 25%, rgb(17, 85, 203) 50%, rgba(17, 85, 203, 0.8) 80%, rgba(17, 85, 203, 0) 100%);
    color: white;
    font-weight: 600;
    border: none;
    position: absolute;
    top: 180px;
    left: 10px;
}

.services .cards .card button:last-of-type {
    padding: 2px 5px;
    background-color: green;
    color: white;
    font-weight: 600;
    border: none;
    position: absolute;
    top: 215px;
    right: 10px;
    border-radius: 5px;
}



.parent {
    /* background-color: blue; */
    height: 100vh;
    width: 100%;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 25% 25% 25% 25%; */
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    /* padding: 5px; */
    background-color: black;
    color: white;
}

/* .child {
    background-color: yellow;
    border: solid;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.child {
    font-size: 18px;
}

.contact {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 30px auto 0;
}

.contact h1 {
    font-weight: 700;
}

.form {
    grid-row-start: 2;
    grid-row-end: 5;
    height: 300px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
}

.form input {
    width: 300px;
    height: 30px;
    margin: 10px 0;
}

.form label {
    margin-right: 5px;
}

.form textarea {
    width: 300px;
    height: 120px;
}

.form input[type="button"]{
    width: 400px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    /* background-color: orange; */
    background-color: white;
    color: black;
}

.form input[type="button"]:hover {
    background-color: rgb(28, 104, 28);
}

.icons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: end;
    margin-top: -30px;
}

.icons span{
    margin-left: 10px;
}

.icons div:hover{
    text-shadow: 1px 1px 2px black;
}

.icons div:first-child:hover {
    color: rgb(255, 0, 208);
}

.icons div:nth-child(2):hover {
    color: yellow;
}

.icons div:last-child:hover {
    color: rgb(14, 212, 14);
}

.map {
    margin-top: -100px;
    border: 1px solid gray;
    width: 500px;
    border-radius: 10px;
}

.map iframe{
    height: stretch;
    width: 500px;
    border-radius: 10px;
}

.address {
    width: 500px;
}

.address p:first-child {
    font-weight: 600;
}