
body {
    background-color: black;
}

.bg {
    height: 300px;
    width: 300px;
    background-image: url("radha-krishna.png");
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 100px auto;
    border: 20px solid black;
    box-shadow: 0 0 50px 10px white;
    animation: myAnimation 4s ease-in-out infinite; 
}

@keyframes myAnimation {
  0%   {background-color:skyblue; left:0px; top:0px;}
  25%  {background-color: aqua; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color: navy; left:0px; top:200px;}
  100% {background-color: white; left:0px; top:0px;}
}

.pulser::after {
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.pulser::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  top: 100;
  left: 100;
  background: blueviolet;
  border-radius: 50%;
  z-index: -1;
}